.home-interface-container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
}

.search-bar {
  width: 50vw;
}

.search-bar-results {
  display: grid;
  position: absolute;
  background-color: white;
  color: black;
  width: 50vw;
  max-height: 50vh;
  min-height: 30vh;
  overflow-y: scroll;
}

.search-bar-results a {
  display: grid;
  border-bottom: black solid 2px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 1vw;
  column-gap: 1vw;
  cursor: pointer;
}

.search-bar-results a:hover {
  background-color: blue;
  color: white;
}

.search-bar-results a:active {
  background-color: green;
  color: white;
}

.search-bar-results .series-info {
  display: grid;
  align-items: center;
}

.search-bar-results .no-results {
  display: grid;
  align-items: center;
}

.image-left {
  height: 100%;
  width: auto;
}

.grid-container {
  display: grid;
  margin-top: 2vh;
  gap: 3%;
}

.two {
  grid-template-columns: auto auto;
}

.three {
  grid-template-columns: auto auto auto;
}

.four {
  grid-template-columns: auto auto auto auto;
}

.grid-item button {
  font-size: 0.8em;
  cursor: pointer;
}

.random-btn {
  font-size: 3rem;
  cursor: pointer;
}

.loader {
  border: 1em solid white;
  border-radius: 50%;
  border-top: 1em solid blue;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* For Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}