.home-btn {
  align-self: self-start;
  font-size: 5vw;
  position: absolute;
}

.home-btn a {
  text-decoration: none;
}

.story-interface-container {
  display: grid;
  justify-content: center;
}

.story-info-container {
  display: flex;
  row-gap: 3vh;
  flex-direction: column;
  align-items: center;
}

.refresh-btn {
  font-size: 2em;
  cursor: pointer;
  background: none;
  border: none;
}

.watched-btn {
  font-size: 1em;
  padding: 0.5rem;
}
