.story-interface-container {
  display: grid;
  justify-content: center;
}

.story-info-container {
  display: flex;
  row-gap: 3vh;
  flex-direction: column;
  align-items: center;
}

.story-btns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
}

.refresh-btn {
  font-size: 2.5em;
  cursor: pointer;
  background: none;
  border: none;
}

.choose-stories-btn {
  font-size: 1.5em;
}

.watched-btn {
  font-size: 1em;
}

.stories-list-window {
  position: absolute;
  background-color: #20545b;
  border: solid 2px black;
  height: 70vh;
  display: grid;
  justify-self: anchor-center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  color: red;
  margin-right: 1vw;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: #61dafb;
}

.stories-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  overflow: auto;
}

.stories-list-container li {
  list-style-position: inside;
}