.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {
  display: block;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: #e84711;
  color: white;
  border: none;
  transition: 0.3s;
}

button:hover {
  background-color: #61dafb;
}