.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-size: calc(10px + 2vmin);
  justify-items: center;
  align-items: center;
}

.home-btn {
  font-size: 5vw;
}

.home-btn a {
  text-decoration: none;
}

.settings-btn {
  font-size: 1.5em;
  cursor: pointer;
}

.App-main {
  display: block;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: #e84711;
  color: white;
  border: none;
  padding: 0.5rem;
  transition: 0.3s;
}

button:hover {
  background-color: #61dafb;
}

.popup-window {
  position: absolute;
  background-color: #20545b;
  border: solid 2px black;
  height: 70vh;
  width: 60vw;
  display: grid;
  justify-self: anchor-center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  color: red;
  margin-right: 1vw;
  cursor: pointer;
  transition: 0.3s;
}

.close-btn:hover {
  color: #61dafb;
}